<%- include('partials/header.ejs') %>
</div>
<div class="col-lg-4">
    <form action="/new" method="post">
        <div class="align-self-center">
            <div class="mb-3">
                <input type="text" class="" placeholder="Title" name="title" id="" required>
            </div>
            <div class="mb-3">
                <input type="text" class="" placeholder="ISBN" name="isbn" id="" required>
            </div>
            <div class="mb-3">
                <input type="text" class="" placeholder="Genre" name="genre" id="">
            </div>
            <div class="mb-3">
                <textarea class="" placeholder="About book" name="description" id="" ></textarea>
            </div>
            <div class="mb-3">
                <input type="number" class="" placeholder="Ratings out of 10" min="1" max="10" name="rating" id="" required>
            </div>
            <div class="mb-3">
                <textarea class="" placeholder="Write a notes" name="note" id="" ></textarea>
            </div>
            <div>
                <button class="btn btn-std" type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>

<%- include('partials/footer.ejs') %>